{% load static %}
<!doctype html>

<html lang="en">
   <head>
       <meta charset="utf-8">
   
       <title>Base</title>
       <meta name="description" content="Base">
       <meta name="author" content="Kristoffer Dalby">
   
       <link rel="stylesheet" href="css/style.css">
   
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
   </head>
   
   <body>
       {% block content %}
       {% endblock %}
   </body>
</html>

